<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<h1>{{title}}</h1>
		<p>Dear {{username}}</p>
		<p>Reset your password on the following link</p>
		<a href='{{url}}/reset-password/{{passwordResetToken}}'>Reset your
			passsword</a>
	</body>
</html>